

.contener_card{
display: flex;
justify-content: center;
gap: 50px;
}

.link{
text-decoration: none;

}

.card {
    margin-top: 100px;
    border: 2px solid red;
    border-radius: 5px ;
    width: 30%;
    height: 200px;
    background-image: url("../assets/fox.webp");
    background-size: cover;
    height: 15vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-decoration: none;
    width: 15vw;
}

.titlecard {
text-align: center;
color: red;
font-size: 18px;

}
