.carousel-slider{
    width: 50%;
}
.carousel{
    width: 100% !important;
    text-align: center;
    margin: auto;
    
}
.carousel.carousel-slider {
    margin: auto;
}
.carousel .slide {
    min-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}
.imgCarousel{
   width: auto;
   height: auto;
}
.contenerImg{
    height: 100%;
}
.thumb{
    width: 150px !important ;
}

@media screen and (max-width: 576px){
   
    .carousel{
        padding: 0;
    }
    .thumb{
        display: none!important;
    }
    .thumbs-wrapper{
        display: none;
    }
    .carousel .carousel-status, .control-dots{
       display: none;
    }
   
    .fullScreen{
        width: 100%;
        background-color: red;
    }
}