.collapseContener{
    background-color: rgba(7, 195, 7, 0.915);
    width: 60%;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.entete_collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.collapse_title{
    margin-left: 15px;
    color: white;
    font-weight: 600;
    font-size: 18px;
  letter-spacing: 3px;
  margin: 12px 12px 12px 20px;
}
.button{
    font-size: 20px;
    margin-right: 15px;
}
.button_down{
   transform:  rotate(0deg);
   transition: transform 0.5s ease-in-out;
}
.button_up{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}
.collapse_txt{
  background-color: grey;
    color: white;
    font-weight: 500;
   padding: 20px;
   font-size: 20px;
   border-radius: 0px 0px 18px 18px;
   white-space: pre-line;
}