#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    border-top: 3px solid green
}
.name, .firstname, .email, .message{
    display: flex;
    flex-direction: column;;
}
.contactTitle{
    font-size: 2.5rem;
}
.contenerContact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form{
    width: 40%;
}
label{
    font-size: 1.3rem;
}
input{
    height: 25px;
    border-radius: 20px;

}
textarea{
    height: 150px;
}
.btnContact{
    width: 120px;
    margin: auto;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 50px;
    font-size: 1.1rem;
}
@media screen and (max-width:768px) {
  .contactTitle{
    font-size: 1.9rem;
    text-align: center;
  }
  label{
    font-size: 1.2rem;
  }
   
    
}
@media screen and (max-width:576px) {
    form{
     width: 80%;
    }
}