.header{
    background: rgb(25,79,14);
background: linear-gradient(103deg, rgba(25,79,14,1) 0%, rgba(0,0,0,1) 61%, rgba(48,189,35,1) 100%);
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 50px;
}
.nav_ul{
    display: flex;
    gap: 30px;
    margin-right: 50px;
    list-style-type:none;
}
.nav_a{
    color: white;
    text-decoration: none;

}
button{
    cursor: pointer;
}