@font-face {
    font-family:'Roboto' ;
    src: url(../assets/fonts/Roboto/Roboto-Thin.ttf) repeat;
}
.home{
    font-family: 'Roboto', sans-serif;
    background-image: url(../assets/background-vert.jpg);
    
}