#experience{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;

    
}
.title_language{
    font-size: 2.5rem;
}
.contenerCard{
    width: 90%;
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.card{
        width: 15%;
        background: rgb(1,0,0);
        background: rgb(1,0,0);
        background: linear-gradient(131deg, rgba(1,0,0,1) 0%, rgba(16,15,28,1) 64%, rgba(52,184,22,1) 100%);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
}
.imgCard{
        width: 25%;
        margin-top: 20px;
}
.titleCard{
        font-size: 1.3rem;
}


@media   (min-Width: 768px) and (max-width: 992px) {
        .contenerCard{
                gap: 0px;
        }
        .card{
                width: 40%;
                margin: 20px;
                
        }
        
}
@media screen and (max-width:768px) {
        .title_language{
                text-align: center;
                font-size: 1.8rem;
        }
        .card{
                width: 100%;
        }
       
        
  }
  @media   (min-Width: 568px) and (max-width: 768px) {
       
        .card{
            width: 42%;
            
            
        }
        
    }
  
  
  
  