.contenerModal{
    color:aqua ;
}
.title_modal{
    text-align: center;

}
.description_modal{
    text-align: center;
}
.img_modal{
    text-align: center;
    width: 55%;
}
@media screen and (max-width: 576px){
   .description_modal{
    font-size: 0.5rem;
   }
   .txt_modal{
    font-size: 0.5rem;
   }
    
}
