#project{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;

    
}
.title_{
    font-size: 2.5rem;
}
.contenerCard{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    -webkit-animation: bounce-in-right 1.5s both;
	        animation: bounce-in-right 1.5s both;
    
}
.card{
    width: 15%;
    background: rgb(1,0,0);
    background: rgb(1,0,0);
    background: linear-gradient(131deg, rgba(1,0,0,1) 0%, rgba(16,15,28,1) 64%, rgba(52,184,22,1) 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.imgCard{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}