#galleryFormation {
    border-radius: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    border: 2px solid  rgba(7, 195, 7, 0.915) ;
}
.section_title, .section_description {
    text-align: center;
    color: white;
}
.card{
    width: 99.8%;
    height: 140px;
    border: 2px solid rgba(7, 195, 7, 0.915);
    display: flex;
    margin-bottom: 30px;
    background-color: black;

}
.img{
    width: 30%;
}
.card_title, .card_description {
    color: rgba(7, 195, 7, 0.915);
}
.card_content {
    margin-left: 20px;
}

